<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div>
    
    <h1>Looking To Leave Our Beautiful Campus?</h1>
    <p>Let us know who you are!</p>
    
      <form action="/student" method="POST">
        <input placeholder='Username', type='textbox', name='username'/>
        <input placeholder='Password', type='password', name='password'/>
        <button type='submit'>Submit</button>
      </form>
      {{#wrong}}
        <p> Username and password are incorrect. </p>
      {{/wrong}}
      <a href ="/newAccount"><button>I have not signed up yet</button></a>

      <form method = "GET", action="/login">
        <button id="admin" type='submit'>I'm an Admin</button>
      </form>
    </div>
  </body>
</html>
